<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name=" suite [FREE CRM Application Test Automation Test Suite]">

<listeners>
   <listener class-name="com.crm.ExtentReportListener.ExtentReporterNG"/>
   </listeners>
  
   
   
   
  <test name="Free CRM Test Cases">
    <classes>
      <class name="com.crm.qa.tests.LoginPageTest"></class>
      <class name="com.crm.qa.tests.HomePageTest"></class>
      <class name="com.crm.qa.tests.ContactsPageTest"></class>
      
      
     
 </classes>
 </test>
 </suite>